.products-grid{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  position: relative;
}

.product-items{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--grey);
  border-radius: 5px;
  padding: 1.5rem;
  gap: 25px;
}

.product-items > img {
  max-width:150px;
  width: 100%;
  border-radius: 5px;
}

.product-details{
  max-width:300px;
  padding: 1rem;
}

.product-header{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.product-footer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
  max-width: 300px;
  width: 100%;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-tight);
  font-family: 'roboto serif';
}

.description{
  font-size: var(--text-xs);
  color: var(--grey);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-large);
  letter-spacing: var(--letter-spacing-tight);
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-base);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  font-size: var(--text-xs);
  font-weight: var(--font-weight-bold);
}

.price{
  color:#c92a2a;
  font-weight: var(--font-weight-bolder);
  font-size: var(--text-sm);
}

header{
  background-color: var(--primary-tint);
  padding: 0.5rem 0;
  margin-bottom: 2.5rem;
}

nav{
   max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.count{
  position:absolute;
  top: 0;
  right:0;
  background-color: var(--white);
  border-radius: 50%;
  padding: 0.1rem 0.8rem;
}

.logo{
  font-style: var(--font-style);
  font-size: var(--text-md);
  font-weight: var(--font-weight-bold);
  font-family: sans-serif;
}

.modal{
  background-color: white;
  max-width: 800px;
  position: absolute;
  top:0;
  left: 0;
  border-radius: 5px;
  padding: 1.5rem;
  z-index: 999;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.list{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 15px;
  padding:2.5rem;
  border: 1px solid var(--black);
  margin: 0.5rem 1.5rem;
  border-radius: 5px;
}

.list-left,.list-right{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.input-action{
  display: flex;
  gap: 5px;
}
.list-img{
  max-width: 75px;
  width: 100%;
}

.list > p{
  font-size: var(--text-xs);
}

.qty-input{
  width: 50px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-tint);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-xs);
}

.count-btn{
  border: none;
  font-size: var(--text-sm);
  background-color: var(--white);
  padding: 5px 15px;
  font-weight: var(--font-weight-bold);
  color: var(--grey);
}

.remove-btn{
  border: none;
  background-color: var(--white);
}

.list-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.cart-section{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  align-items: flex-start;
  justify-content: center;
}

.cartItems{
  flex-grow: 1;
  max-width: 800px;
}
.summary{
  flex-grow: 2;
  min-width: 300px;
  background-color: var(--primary-tint);
  padding: 25px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summary > div{
  display: flex;
  justify-content: space-between;
}

.summary > p {
  font-size: var(--text-md);
  font-weight: var(--font-weight-bold);
  font-family: 'roboto serif';
}

.sub-description{
  font-size: var(--text-xs);
  color: var(--grey);
}

.sub-amount{
  font-size: var(--text-xs);
  font-weight: var(--font-weight-bold);
}

.grand-total{
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bolder);
}

@media(max-width:64rem){
  html{font-size: 50%;}
}

@media(max-width:58rem){
 .products-grid{grid-template-columns: repeat(1,1fr);}
}